@font-face {
 font-family: 'Suport1' ;
 src: url(../assets/fontes/3c5ef450f6bbf37610f7a03ef0d634b9cca3aa83\ \(1\).woff2);
}
@font-face {
    font-family: 'Suport2';
    src: url(../assets/fontes/a8c5dd527a4d25b4e32c8be0ecd29e8e7dcbdecb.woff2);
}
@font-face {
    font-family: 'Suport3';
    src: url(../assets/fontes/d54079a1d981f594552b197ae3abe0c1ca237cc4.woff2);
}
@font-face {
    font-family: 'Suport4';
    src: url(../assets/fontes/d8688381117f9ef89f410ebf5a25bc74ae1d3403.woff2);
}